.card-container {
    display: flex;
    flex-wrap: wrap;
   gap: 10px;
    max-width: 500px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
 
}

.card {
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}
.loc{
    margin-top: 90px;
}